<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Swimming</string>
		<key>number</key>
		<integer>1</integer>
		<key>hideInList</key>
		<integer>0</integer>
		<key>plans</key>
		<array>
			<dict>
				<key>number</key>
				<integer>1</integer>
				<key>name</key>
				<string>Prepare for Swim A Mile</string>
				<key>desc</key>
				<string>If you already run or bicycle or do other aerobic exercise, you can start &quot;Swim a Mile&quot; plan right away. But if you’re coming straight from the couch to the pool, some preparation that begins at true zero would be useful, and this plan is for you then.</string>
				<key>weekdaysSelected</key>
				<integer>21</integer>
				<key>activity</key>
				<string>Swimming</string>
				<key>workouts</key>
				<array>
					<dict>
						<key>number</key>
						<integer>1</integer>
						<key>daysToNextWorkoutMin</key>
						<integer>1</integer>
						<key>activity</key>
						<string>Swimming</string>
						<key>daysToNextWorkoutMax</key>
						<integer>2</integer>
						<key>name</key>
						<string>Week one, day one</string>
						<key>variants</key>
						<array>
							<dict>
								<key>sections</key>
								<array>
									<dict>
										<key>order</key>
										<string>1</string>
										<key>name</key>
										<string>Preparation</string>
										<key>activities</key>
										<array>
											<dict>
												<key>order</key>
												<string>1</string>
												<key>name</key>
												<string>Swim</string>
												<key>details</key>
												<string>any stroke</string>
												<key>len_multiplier</key>
												<integer>10</integer>
												<key>len</key>
												<integer>25</integer>
												<key>len_details</key>
												<string>Swim any stroke at all, disregarding technique. As soon as you feel like stopping, flop over and do any kind of backstroke. When you tire, if possible still without stopping, switch to another stroke, such as sidestroke. If you do stop, keep the rest short until you are breathing somewhat more easily, but are not fully recovered.</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>number</key>
						<integer>2</integer>
						<key>daysToNextWorkoutMin</key>
						<integer>1</integer>
						<key>activity</key>
						<string>Swimming</string>
						<key>daysToNextWorkoutMax</key>
						<integer>2</integer>
						<key>name</key>
						<string>Week one, day two</string>
						<key>variants</key>
						<array>
							<dict>
								<key>sections</key>
								<array>
									<dict>
										<key>order</key>
										<string>1</string>
										<key>name</key>
										<string>Preparation</string>
										<key>activities</key>
										<array>
											<dict>
												<key>order</key>
												<string>1</string>
												<key>name</key>
												<string>Swim</string>
												<key>details</key>
												<string>any stroke</string>
												<key>len_multiplier</key>
												<integer>15</integer>
												<key>len</key>
												<integer>25</integer>
												<key>len_details</key>
												<string>Swim any stroke at all, disregarding technique. As soon as you feel like stopping, flop over and do any kind of backstroke. When you tire, if possible still without stopping, switch to another stroke, such as sidestroke. If you do stop, keep the rest short until you are breathing somewhat more easily, but are not fully recovered. Whatever you found most enjoyable may be continued, always increasing the distance using any stroke that makes it possible. A kickboard is sufficiently unpleasant to be useful, but stay away from pull-buoys. Your quads are big, demanding muscles and if you don’t use them because of the pull-buoy flotation, you defeat the whole purpose.</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>number</key>
						<integer>3</integer>
						<key>daysToNextWorkoutMin</key>
						<integer>1</integer>
						<key>activity</key>
						<string>Swimming</string>
						<key>daysToNextWorkoutMax</key>
						<integer>2</integer>
						<key>name</key>
						<string>Week one, day three</string>
						<key>variants</key>
						<array>
							<dict>
								<key>sections</key>
								<array>
									<dict>
										<key>order</key>
										<string>1</string>
										<key>name</key>
										<string>Preparation</string>
										<key>activities</key>
										<array>
											<dict>
												<key>order</key>
												<string>1</string>
												<key>name</key>
												<string>Swim</string>
												<key>details</key>
												<string>any stroke</string>
												<key>len_multiplier</key>
												<integer>20</integer>
												<key>len</key>
												<integer>25</integer>
												<key>len_details</key>
												<string>Swim any stroke at all, disregarding technique. As soon as you feel like stopping, flop over and do any kind of backstroke. When you tire, if possible still without stopping, switch to another stroke, such as sidestroke. If you do stop, keep the rest short until you are breathing somewhat more easily, but are not fully recovered. Whatever you found most enjoyable may be continued, always increasing the distance using any stroke that makes it possible. A kickboard is sufficiently unpleasant to be useful, but stay away from pull-buoys. Your quads are big, demanding muscles and if you don’t use them because of the pull-buoy flotation, you defeat the whole purpose.</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>number</key>
						<integer>4</integer>
						<key>daysToNextWorkoutMin</key>
						<integer>1</integer>
						<key>activity</key>
						<string>Swimming</string>
						<key>daysToNextWorkoutMax</key>
						<integer>2</integer>
						<key>name</key>
						<string>Week two, day one</string>
						<key>variants</key>
						<array>
							<dict>
								<key>sections</key>
								<array>
									<dict>
										<key>order</key>
										<string>1</string>
										<key>name</key>
										<string>Preparation</string>
										<key>activities</key>
										<array>
											<dict>
												<key>order</key>
												<string>1</string>
												<key>name</key>
												<string>Swim</string>
												<key>details</key>
												<string>any stroke</string>
												<key>len_multiplier</key>
												<integer>25</integer>
												<key>len</key>
												<integer>25</integer>
												<key>len_details</key>
												<string>Swim any stroke at all, disregarding technique. As soon as you feel like stopping, flop over and do any kind of backstroke. Increase the amount of freestyle, but still change strokes rather than stop.</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>number</key>
						<integer>5</integer>
						<key>daysToNextWorkoutMin</key>
						<integer>1</integer>
						<key>activity</key>
						<string>Swimming</string>
						<key>daysToNextWorkoutMax</key>
						<integer>2</integer>
						<key>name</key>
						<string>Week two, day two</string>
						<key>variants</key>
						<array>
							<dict>
								<key>sections</key>
								<array>
									<dict>
										<key>order</key>
										<string>1</string>
										<key>name</key>
										<string>Preparation</string>
										<key>activities</key>
										<array>
											<dict>
												<key>order</key>
												<string>1</string>
												<key>name</key>
												<string>Swim</string>
												<key>details</key>
												<string>any stroke</string>
												<key>len_multiplier</key>
												<integer>30</integer>
												<key>len</key>
												<integer>25</integer>
												<key>len_details</key>
												<string>Swim any stroke at all, disregarding technique. As soon as you feel like stopping, flop over and do any kind of backstroke. Increase the amount of freestyle, but still change strokes rather than stop.</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>number</key>
						<integer>6</integer>
						<key>daysToNextWorkoutMin</key>
						<integer>1</integer>
						<key>activity</key>
						<string>Swimming</string>
						<key>daysToNextWorkoutMax</key>
						<integer>2</integer>
						<key>name</key>
						<string>Week two, day three</string>
						<key>variants</key>
						<array>
							<dict>
								<key>sections</key>
								<array>
									<dict>
										<key>order</key>
										<string>1</string>
										<key>name</key>
										<string>100&apos;s</string>
										<key>activities</key>
										<array>
											<dict>
												<key>order</key>
												<string>1</string>
												<key>name</key>
												<string>Swim</string>
												<key>details</key>
												<string>freestyle</string>
												<key>len_multiplier</key>
												<integer>3</integer>
												<key>len</key>
												<integer>100</integer>
												<key>len_details</key>
												<string>Rest for 12 breaths between 100s</string>
											</dict>
										</array>
									</dict>
									<dict>
										<key>order</key>
										<string>2</string>
										<key>name</key>
										<string>75&apos;s</string>
										<key>activities</key>
										<array>
											<dict>
												<key>order</key>
												<string>1</string>
												<key>name</key>
												<string>Swim</string>
												<key>details</key>
												<string>freestyle</string>
												<key>len_multiplier</key>
												<integer>3</integer>
												<key>len</key>
												<integer>75</integer>
												<key>len_details</key>
												<string>Rest for 10 breaths between 75s</string>
											</dict>
										</array>
									</dict>
									<dict>
										<key>order</key>
										<string>3</string>
										<key>name</key>
										<string>25&apos;s</string>
										<key>activities</key>
										<array>
											<dict>
												<key>order</key>
												<string>1</string>
												<key>name</key>
												<string>Swim</string>
												<key>details</key>
												<string>freestyle</string>
												<key>len_multiplier</key>
												<integer>3</integer>
												<key>len</key>
												<integer>25</integer>
												<key>len_details</key>
												<string>Rest for 6 breaths between 25s. If you are struggling with this week&apos;s excercise, don&apos;t worry. Just repeat it (using rescheduling), and third week should do the trick.</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
