<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>number</key>
		<integer>1</integer>
		<key>name</key>
		<string>About 1/2 freestyle, the rest drills, swim, &amp;kick Fly, Back, &amp;Breast</string>
		<key>variants</key>
		<array>
			<dict>
				<key>sections</key>
				<array>
					<dict>
						<key>order</key>
						<string>1</string>
						<key>name</key>
						<string>Warm-up: Free</string>
						<key>length</key>
						<integer>800</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>#1. at 1000 pace
#2. 5 seconds faster
#3. 5 seconds faster than #2
#4. 5 seconds faster than #3</string>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>order</key>
						<string>2</string>
						<key>name</key>
						<string>Butterfly</string>
						<key>length</key>
						<integer>400</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Kick</string>
								<key>details</key>
								<string>(no board) front, back, side</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string/>
							</dict>
							<dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Drill</string>
								<key>details</key>
								<string>1 arm, change each length</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string/>
							</dict>
							<dict>
								<key>order</key>
								<string>3</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string/>
								<key>len_multiplier</key>
								<integer>2</integer>
								<key>len</key>
								<integer>50</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>order</key>
						<string>3</string>
						<key>name</key>
						<string>Backstroke</string>
						<key>length</key>
						<integer>200</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Drill</string>
								<key>details</key>
								<string>Delay pull, kick on side</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string/>
							</dict>
							<dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string/>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>order</key>
						<string>4</string>
						<key>name</key>
						<string>Breastroke</string>
						<key>length</key>
						<integer>100</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>1 length normal,
1 length with dolphin kick</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>order</key>
						<string>5</string>
						<key>name</key>
						<string>Freestyle</string>
						<key>length</key>
						<integer>500</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Pull</string>
								<key>details</key>
								<string>hypoxic, 1/3 one length
1/5 next, 1/7</string>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>75</integer>
								<key>len_details</key>
								<string/>
							</dict>
							<dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Kick</string>
								<key>details</key>
								<string/>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>order</key>
						<string>6</string>
						<key>name</key>
						<string>Swim down</string>
						<key>length</key>
						<integer>100</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Drill</string>
								<key>details</key>
								<string>free catch-up</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>sections</key>
				<array>
					<dict>
						<key>order</key>
						<string>1</string>
						<key>name</key>
						<string>Warm-up: Free</string>
						<key>length</key>
						<integer>1000</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>#1. at 1000 pace
#2. 5 seconds faster
#3. 5 seconds faster than #2
#4. 5 seconds faster than #3</string>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>250</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>order</key>
						<string>2</string>
						<key>name</key>
						<string>Butterfly</string>
						<key>length</key>
						<integer>800</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Kick</string>
								<key>details</key>
								<string>(no board) front, back, side</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string/>
							</dict>
							<dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Drill</string>
								<key>details</key>
								<string>1 arm, change each length</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string/>
							</dict>
							<dict>
								<key>order</key>
								<string>3</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string/>
								<key>len_multiplier</key>
								<integer>2</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>order</key>
						<string>3</string>
						<key>name</key>
						<string>Backstroke</string>
						<key>length</key>
						<integer>300</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Drill</string>
								<key>details</key>
								<string>Delay pull, kick on side</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string/>
							</dict>
							<dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string/>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>order</key>
						<string>4</string>
						<key>name</key>
						<string>Breastroke</string>
						<key>length</key>
						<integer>200</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>1 length normal,
1 length with dolphin kick</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>order</key>
						<string>5</string>
						<key>name</key>
						<string>Freestyle</string>
						<key>length</key>
						<integer>800</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Pull</string>
								<key>details</key>
								<string>hypoxic, 1/3 one length
1/5 next, 1/7</string>
								<key>len_multiplier</key>
								<integer>8</integer>
								<key>len</key>
								<integer>75</integer>
								<key>len_details</key>
								<string/>
							</dict>
							<dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Kick</string>
								<key>details</key>
								<string/>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>order</key>
						<string>6</string>
						<key>name</key>
						<string>Swim down</string>
						<key>length</key>
						<integer>200</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Drill</string>
								<key>details</key>
								<string>free catch-up</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>number</key>
		<integer>2</integer>
		<key>name</key>
		<string>Freestyle 50&apos;s, then swim IM&apos;s and pull&amp;swim Choice</string>
		<key>variants</key>
		<array>
			<dict>
				<key>sections</key>
				<array>
					<dict>
						<key>order</key>
						<string>1</string>
						<key>name</key>
						<string>Warm-up</string>
						<key>length</key>
						<integer>300</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Drills</string>
								<key>details</key>
								<string>Choice</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>300</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>order</key>
						<string>2</string>
						<key>name</key>
						<string>Freestyle</string>
						<key>length</key>
						<integer>900</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>(&quot;on&quot; means starting every forty seconds)</string>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>50</integer>
								<key>len_details</key>
								<string>on :55</string>
							</dict>
							<dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string/>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>50</integer>
								<key>len_details</key>
								<string>on :65</string>
							</dict>
							<dict>
								<key>order</key>
								<string>3</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string/>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>50</integer>
								<key>len_details</key>
								<string>on :75</string>
							</dict>
							<dict>
								<key>order</key>
								<string>4</string>
								<key>name</key>
								<string>Kick</string>
								<key>details</key>
								<string/>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string/>
							</dict>
							<dict>
								<key>order</key>
								<string>5</string>
								<key>name</key>
								<string>Kick</string>
								<key>details</key>
								<string/>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>25</integer>
								<key>len_details</key>
								<string>15 sec.rest</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>order</key>
						<string>3</string>
						<key>name</key>
						<string>IM</string>
						<key>length</key>
						<integer>400</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>Fly + Back</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string>25 Fly + 75 Back</string>
							</dict>
							<dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>Fly + Breast</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string>25 Fly + 75 Breast</string>
							</dict>
							<dict>
								<key>order</key>
								<string>3</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>Fly + Free</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string>25 Fly + 75 Free</string>
							</dict>
							<dict>
								<key>order</key>
								<string>4</string>
								<key>name</key>
								<string>IM</string>
								<key>details</key>
								<string>Fly + Free</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>order</key>
						<string>4</string>
						<key>name</key>
						<string>Choice</string>
						<key>length</key>
						<integer>400</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Pull</string>
								<key>details</key>
								<string>least favorite stroke</string>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>50</integer>
								<key>len_details</key>
								<string/>
							</dict>
							<dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Pull</string>
								<key>details</key>
								<string>favorite stroke</string>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>25</integer>
								<key>len_details</key>
								<string/>
							</dict>
							<dict>
								<key>order</key>
								<string>3</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>timed</string>
								<key>len_multiplier</key>
								<integer>2</integer>
								<key>len</key>
								<integer>50</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>sections</key>
				<array>
					<dict>
						<key>order</key>
						<string>1</string>
						<key>name</key>
						<string>Warm-up</string>
						<key>length</key>
						<integer>400</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Drills</string>
								<key>details</key>
								<string>Choice</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>400</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>order</key>
						<string>2</string>
						<key>name</key>
						<string>Freestyle</string>
						<key>length</key>
						<integer>1000</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>(&quot;on&quot; means starting every forty seconds)</string>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>50</integer>
								<key>len_details</key>
								<string>on :55</string>
							</dict>
							<dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string/>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>50</integer>
								<key>len_details</key>
								<string>on :65</string>
							</dict>
							<dict>
								<key>order</key>
								<string>3</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string/>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>50</integer>
								<key>len_details</key>
								<string>on :75</string>
							</dict>
							<dict>
								<key>order</key>
								<string>4</string>
								<key>name</key>
								<string>Kick</string>
								<key>details</key>
								<string/>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string/>
							</dict>
							<dict>
								<key>order</key>
								<string>5</string>
								<key>name</key>
								<string>Kick</string>
								<key>details</key>
								<string/>
								<key>len_multiplier</key>
								<integer>8</integer>
								<key>len</key>
								<integer>25</integer>
								<key>len_details</key>
								<string>15 sec.rest</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>order</key>
						<string>3</string>
						<key>name</key>
						<string>IM</string>
						<key>length</key>
						<integer>800</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>Fly + Back</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string>50 Fly + 150 Back</string>
							</dict>
							<dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>Fly + Breast</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string>50 Fly + 150 Breast</string>
							</dict>
							<dict>
								<key>order</key>
								<string>3</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>Fly + Free</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string>50 Fly + 150 Free</string>
							</dict>
							<dict>
								<key>order</key>
								<string>4</string>
								<key>name</key>
								<string>IM</string>
								<key>details</key>
								<string>Fly + Free</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>order</key>
						<string>4</string>
						<key>name</key>
						<string>Choice</string>
						<key>length</key>
						<integer>800</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Pull</string>
								<key>details</key>
								<string>least favorite stroke</string>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string/>
							</dict>
							<dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Pull</string>
								<key>details</key>
								<string>favorite stroke</string>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>50</integer>
								<key>len_details</key>
								<string/>
							</dict>
							<dict>
								<key>order</key>
								<string>3</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>timed</string>
								<key>len_multiplier</key>
								<integer>2</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict><dict>
		<key>number</key>
		<integer>3</integer>
		<key>name</key>
		<string>Free fartlek, then combination of Fly+Free and Back+Breast</string>
		<key>variants</key>
		<array>
			<dict>
				<key>sections</key>
				<array>
					<dict>
						<key>order</key>
						<string>1</string>
						<key>name</key>
						<string>Warm-up</string>
						
						
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>free</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>500</integer>
								<key>len_details</key>
								<string></string>
							</dict>
						</array>
					</dict><dict>
						<key>order</key>
						<string>2</string>
						<key>name</key>
						<string>Fly+Free</string>
						
						
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>50</integer>
								<key>len_details</key>
								<string>25 FLY, 25 free</string>
							</dict><dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>50</integer>
								<key>len_details</key>
								<string>free, FLY</string>
							</dict><dict>
								<key>order</key>
								<string>3</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>50</integer>
								<key>len_details</key>
								<string>FLY, free</string>
							</dict><dict>
								<key>order</key>
								<string>4</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>50</integer>
								<key>len_details</key>
								<string>free, FLY</string>
							</dict>
						</array>
					</dict><dict>
						<key>order</key>
						<string>3</string>
						<key>name</key>
						<string>Back+Breast</string>
						
						
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>work turns hard</string>
								<key>len_multiplier</key>
								<integer>2</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string>75 back, 25 breast</string>
							</dict><dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>work turns hard</string>
								<key>len_multiplier</key>
								<integer>2</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string>25 back, 75 breast</string>
							</dict>
						</array>
					</dict><dict>
						<key>order</key>
						<string>4</string>
						<key>name</key>
						<string>Free</string>
						
						
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Kick</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>6</integer>
								<key>len</key>
								<integer>50</integer>
								<key>len_details</key>
								<string>on :75</string>
							</dict><dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string>moderate 75,
10 sec rest, then hard 25</string>
							</dict>
						</array>
					</dict><dict>
						<key>order</key>
						<string>5</string>
						<key>name</key>
						<string>Swim-down</string>
						
						
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Pull</string>
								<key>details</key>
								<string>free</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string></string>
							</dict>
						</array>
					</dict>
					
					
					
				</array>
			</dict><dict>
				<key>sections</key>
				<array>
					<dict>
						<key>order</key>
						<string>1</string>
						<key>name</key>
						<string>Warm-up</string>
						
						
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>free</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>500</integer>
								<key>len_details</key>
								<string>1 length easy,1 hard,2 easy, 2 hard,3,3,4,4.</string>
							</dict><dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>free</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>500</integer>
								<key>len_details</key>
								<string>reverse: 4 to 1</string>
							</dict>
						</array>
					</dict><dict>
						<key>order</key>
						<string>2</string>
						<key>name</key>
						<string>Fly+Free</string>
						
						
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string>25 FLY, 75 free </string>
							</dict><dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string>25 free, 25 FLY, 50 free </string>
							</dict><dict>
								<key>order</key>
								<string>3</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string>50 free, 25 FLY, 25 free</string>
							</dict><dict>
								<key>order</key>
								<string>4</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string>75 free, 25 FLY</string>
							</dict>
						</array>
					</dict><dict>
						<key>order</key>
						<string>3</string>
						<key>name</key>
						<string>Back+Breast</string>
						
						
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>work turns hard</string>
								<key>len_multiplier</key>
								<integer>2</integer>
								<key>len</key>
								<integer>150</integer>
								<key>len_details</key>
								<string>100 back, 50 breast</string>
							</dict><dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>work turns hard</string>
								<key>len_multiplier</key>
								<integer>2</integer>
								<key>len</key>
								<integer>150</integer>
								<key>len_details</key>
								<string>50 back, 100 breast</string>
							</dict>
						</array>
					</dict><dict>
						<key>order</key>
						<string>4</string>
						<key>name</key>
						<string>Free</string>
						
						
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Kick</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>8</integer>
								<key>len</key>
								<integer>50</integer>
								<key>len_details</key>
								<string>on :60</string>
							</dict><dict>
								<key>order</key>
								<string>2</string>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>8</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string>moderate 75, 
10 sec rest, then hard 25</string>
							</dict>
						</array>
					</dict><dict>
						<key>order</key>
						<string>5</string>
						<key>name</key>
						<string>Swim-down</string>
						
						
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>Pull</string>
								<key>details</key>
								<string>free</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>300</integer>
								<key>len_details</key>
								<string></string>
							</dict>
						</array>
					</dict>
					
					
					
				</array>
			</dict>
			
		</array>
	</dict><dict>
		<key>number</key>
		<integer>99</integer>
		<key>name</key>
		<string>Template</string>
		<key>variants</key>
		<array>
			<dict>
				<key>sections</key>
				<array>
					<dict>
						<key>order</key>
						<string>1</string>
						<key>name</key>
						<string>---</string>
						
						
						<key>activities</key>
						<array>
							<dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>---</string>
								<key>details</key>
								<string>---</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string>---</string>
							</dict><dict>
								<key>order</key>
								<string>1</string>
								<key>name</key>
								<string>---</string>
								<key>details</key>
								<string>---</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string>---</string>
							</dict>
						</array>
					</dict>
					
					
					
				</array>
			</dict>
			
		</array>
	</dict>
</array>
</plist>
