<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>number</key>
		<integer>1</integer>
		<key>name</key>
		<string>About 1/2 freestyle, the rest drills, swim, &amp;kick Fly, Back, &amp;Breast</string>
		<key>variants</key>
		<array>
			<dict>
				<key>length</key>
				<integer>2000</integer>
				<key>sections</key>
				<array>
					<dict>
						<key>name</key>
						<string>Warm-up: Free</string>
						<key>order</key>
						<string>1</string>
						<key>length</key>
						<integer>800</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>#1. at 1000 pace
#2. 5 seconds faster
#3. 5 seconds faster than #2
#4. 5 seconds faster than #3</string>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>Butterfly</string>
						<key>length</key>
						<integer>400</integer>
						<key>order</key>
						<string>2</string>
						<key>activities</key>
						<array>
							<dict>
								<key>name</key>
								<string>Kick</string>
								<key>details</key>
								<string>(no board) front, back, side</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string></string>
							</dict>
							<dict>
								<key>name</key>
								<string>Drill</string>
								<key>details</key>
								<string>1 arm, change each length</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string></string>
							</dict>
							<dict>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>2</integer>
								<key>len</key>
								<integer>50</integer>
								<key>len_details</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>Backstroke</string>
						<key>length</key>
						<integer>200</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>name</key>
								<string>Drill</string>
								<key>details</key>
								<string>Delay pull, kick on side</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string></string>
							</dict>
							<dict>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>Breastroke</string>
						<key>length</key>
						<integer>100</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>1 length normal,
1 length with dolphin kick</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>Freestyle</string>
						<key>length</key>
						<integer>500</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>name</key>
								<string>Pull</string>
								<key>details</key>
								<string>hypoxic, 1/3 one length
1/5 next, 1/7</string>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>75</integer>
								<key>len_details</key>
								<string></string>
							</dict>
							<dict>
								<key>name</key>
								<string>Kick</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>Swim down</string>
						<key>length</key>
						<integer>100</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>name</key>
								<string>Drill</string>
								<key>details</key>
								<string>free catch-up</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string></string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>length</key>
				<integer>3</integer>
				<key>sections</key>
				<array>
					<dict>
						<key>name</key>
						<string>Warm-up: Free</string>
						<key>length</key>
						<integer>1000</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>#1. at 1000 pace
#2. 5 seconds faster
#3. 5 seconds faster than #2
#4. 5 seconds faster than #3</string>
								<key>len_multiplier</key>
								<integer>4</integer>
								<key>len</key>
								<integer>250</integer>
								<key>len_details</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>Butterfly</string>
						<key>length</key>
						<integer>800</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>name</key>
								<string>Kick</string>
								<key>details</key>
								<string>(no board) front, back, side</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string></string>
							</dict>
							<dict>
								<key>name</key>
								<string>Drill</string>
								<key>details</key>
								<string>1 arm, change each length</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string></string>
							</dict>
							<dict>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>2</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>Backstroke</string>
						<key>length</key>
						<integer>300</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>name</key>
								<string>Drill</string>
								<key>details</key>
								<string>Delay pull, kick on side</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string></string>
							</dict>
							<dict>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>100</integer>
								<key>len_details</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>Breastroke</string>
						<key>length</key>
						<integer>200</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>name</key>
								<string>Swim</string>
								<key>details</key>
								<string>1 length normal,
1 length with dolphin kick</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>Freestyle</string>
						<key>length</key>
						<integer>800</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>name</key>
								<string>Pull</string>
								<key>details</key>
								<string>hypoxic, 1/3 one length
1/5 next, 1/7</string>
								<key>len_multiplier</key>
								<integer>8</integer>
								<key>len</key>
								<integer>75</integer>
								<key>len_details</key>
								<string></string>
							</dict>
							<dict>
								<key>name</key>
								<string>Kick</string>
								<key>details</key>
								<string></string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>Swim down</string>
						<key>length</key>
						<integer>200</integer>
						<key>activities</key>
						<array>
							<dict>
								<key>name</key>
								<string>Drill</string>
								<key>details</key>
								<string>free catch-up</string>
								<key>len_multiplier</key>
								<integer>1</integer>
								<key>len</key>
								<integer>200</integer>
								<key>len_details</key>
								<string></string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
